* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #555072;
  color: aliceblue;
}

.container {
  padding: 24px;
  height: 100vh;
}